.header{
 
  background-color: #353481;
  width: 2000px;
  height: 130px;
  display: flex;
  
  align-items: center;
  
  border-top: 10px solid rgba(0, 0, 0, 0.438);
  border-bottom: 10px solid rgba(0, 0, 0, 0.438);
  border-left: 10px solid rgba(0, 0, 0, 0.438);
  border-right: 10px solid rgba(0, 0, 0, 0.438);
  color: white;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  }
  
  .img1 {
    position: relative;
    top: 20px;
    left: -700px;
    width: 150px;
    height: 150px;
    
  }
  
  .img2 {
    position: relative;
    top: 20px;
    left: 600px;
    width: 150px;
    height: 150px;
    
  }


  .container {
    display: flex;
  background-color: #035aa6;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
    margin: 0; 
  
  }
  
  .item {
    background-color: #40bad5;
    width: 1150px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
      border-bottom: 5px solid rgba(0, 0, 0, 0.1); 
      border-left: 5px solid rgba(0, 0, 0, 0.1); 
      border-right: 5px solid rgba(0, 0, 0, 0.1);
  }
  
  .item2{
  
    background-color: #40bad5;
    width: 1120px;
    height: 40px;
    
    text-align: center;
    color: white;
    font-size: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
      border-bottom: 5px solid rgba(0, 0, 0, 0.1); 
      border-left: 5px solid rgba(0, 0, 0, 0.1); 
      border-right: 5px solid rgba(0, 0, 0, 0.1); 
  }
  
  .item + .item2{
    margin-left: 0.1%;
  }