
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Marca</th>
    <th scope="col">Submarca</th>
    <th scope="col">Descripcion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let autoSeleccionado of autos index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{autoSeleccionado.marca}}</td>
    <td>{{autoSeleccionado.submarca}}</td>
    <td>{{autoSeleccionado.descripcion}}</td>
    <td><img src="assets/img/eliminar.png" width="30" height="30"></td>
    <td><img src="assets/img/edit.png" width="30" height="30"></td>
  </tr>
  </tbody>
</table>

<p>              </p>
<ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"></ngb-pagination>