
<p></p>

<button type="button" class="btn btn-dark" (click)="openModalAgregar()">Agregar <i class="fa fa-plus"></i> </button>
<p></p>

  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fa fa-search">
        </i>
      </div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="¿Qué deseas buscar en la tabla?"
      [(ngModel)]="searchText" autocomplete="off" />
    </div>
    
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Marca</th>
          <th scope="col">Submarca</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Modelos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="displayProgressBar">
          <th colspan='5'>
            <ngb-progressbar [value]="100" [striped]=true [animated]=true type="dark"></ngb-progressbar>
          </th>
        </tr>

  <tr *ngFor="let autoSeleccionado of autos | filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
    <td>{{autoSeleccionado._id }}</td>
    <td>{{autoSeleccionado.marca}}</td>
    <td>{{autoSeleccionado.submarca}}</td>
    <td>{{autoSeleccionado.descripcion}}</td>
    <td>{{autoSeleccionado.modelos| formatoModelos}}</td>
    <td (click)="openModalBorrar(autoSeleccionado)"><img src="assets/img/eliminar.png" width="30" height="30"></td>
    <td (click)="openModalEditar(autoSeleccionado)"><img src="assets/img/edit.png" width="30" height="30"></td>
  </tr>
  </tbody>
</table>

<p>              </p>
<div class="pagination"> 
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length" [maxSize]="5" [ellipses]="false"></ngb-pagination>
</div>