<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss('Cerrado')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    <div class="modal-body">
        <form #formAutos = "ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" class="form-contol" id="marca" placeholder="Agrega la marca" required
                [(ngModel)]="auto.marca" name="marca" #marca="ngModel" minlength="4">
        </div>

        <div [hidden]="marca.valid" class="alert alert-danger">
            La marca es requerida 
        </div>

        <div class="form-group">
            <label for="submarca">Submarca</label>
            <input type="text" class="form-contol" id="submarca" placeholder="Agrega la submarca" required
                [(ngModel)]="auto.submarca" name="submarca" #marca="ngModel" minlength="4" >
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-contol" id="descripcion" placeholder="Agrega la descripcion"
                [(ngModel)]="auto.descripcion" name="descripcion">
        </div>
        <div class="form-group">
            <label for="modelos">Modelos</label>
            <input type="number" id="modelos" placeholder="Agrega el modelo" required
                [(ngModel)]="auto.modelos" name="modelos" min="2000" max="2020" >
        </div>
        <button type="submit" class="btn btn-outline-dark" [disabled]="!formAutos.form.valid">Guardar</button>
        
        <div class="modal-footer">
            
          
        </div>
    
        </form>


    
 </div>
