
<ng-template #infodeauto let-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Datos de automovil</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Modelo: {{autoSeleccionado.modelo}}</label>
                <br/>
                <label>Marca: {{autoSeleccionado.marca}}</label>
                <br/>
                <label>Submarca: {{autoSeleccionado.submarca}}</label>
                <br/>
                <label>Descripción: {{autoSeleccionado.descripcion}}</label>
                <br/>
                <label>Fecha de registro: {{autoSeleccionado.fecha_registro}}</label>
            </div> 
        </div>
    </div>
</ng-template>




<div class="list" *ngFor='let auto of autos'>
    {{auto.descripcion}} 
    <div class="img1" (click)="onSelect(auto,infodeauto)">
        <a class="navbar-item">
            <img src="assets/img/ojo.png" width="100" height="100">
        </a>
     
      </div>
    </div>

    <p>              </p>
    <ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

