<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class="modal-body">
        
        <p>Estas seguro de que deseas eliminar este auto: <span class="text-dark" > {{auto.descripcion}}</span></p>
            
      
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="activeModal.close(auto)">ok</button>
              
            </div>


    
 </div>

